ul {
    margin: 0;
}

.queuePanel {
    width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.queueButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.clearButton {
    background-color: #30343a;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    width: 5rem;
    height: 2rem;
    padding: 0 1rem;
}


.queueContainer {
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 10rem;
    overflow-y: auto;
    color: white;
}

.queueTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.queueTable th,
.queueTable td {
    text-align: left;
    padding: 8px 12px;
    border-bottom: 1px solid #2a2a2a;
    vertical-align: middle;
}

.queueTable th {
    font-weight: 600;
}

.queueTable td:last-child,
.queueTable th:last-child {
    width: 110px;
}


.status {
    color: white;
}

.button {
    background-color: #30343a;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
}


.passed {
    color: rgb(76, 226, 76);
}

.failed {
    color: rgb(231, 39, 39);
}