.configContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button,
    select,
    input {
        background-color: #30343a;
        border: 1px solid white;
        border-radius: 6px;
        color: white;
    }

    button:hover {
        background-color: #30343a;
    }

}

.configModal {
    display: grid;
    grid-template-columns: 30% auto;
}

.attuInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.formItem {
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 25% auto;
}

label {
    color: white;
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    pointer-events: all;

}

.selected {
    background-color: #4d5157 !important;
}

button {
    padding: 0;
}



.saveButton {
    margin-top: 1rem;
    height: 2rem;
}